.scanContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.results {
  text-align: center;
}

.results p {
  font-size: 12px;
  color: green;
  font-weight: 600;
}

.videWrapper video{
  width: 400px !important;
  height: 300px !important;
}